@charset "UTF-8";

/* this stylesheet is intended to override most browser default styles in order to provide a consistent platform to build on */

html
{
overflow-y:scroll; /* causes the browser to always render a scrollbar */
}

body
{
background-color:white;
color:black;
direction:ltr;
font-family:serif;
font-style:normal;
font-variant:normal;
font-weight:normal;
text-align:left;
text-transform:none;
visibility:visible;
white-space:inherit;
}

/* all elements */

a , abbr , address , area , article , aside , b , blockquote , body , caption , cite , code , col , colgroup , dd , del , details , dfn , div , dl , dt , em , figcaption , figure , footer , h1 , h2 , h3 , h4 , h5 , h6 , header , hgroup , i , img , ins , kbd , legend , li , mark , nav , ol , p , pre , q , s , samp , section , small , span , strong , sub , summary , sup , table , tbody , td , tfoot , th , thead , tr , u , ul , var
{
background-attachment:scroll;
background-color:transparent;
background-image:none;
background-position:0% 0%;
background-repeat:repeat;
border-collapse:separate;
border-color:transparent;
border-spacing:0;
border-style:none;
border-width:0;
clear:none;
color:inherit;
direction:inherit;
float:none;
font-family:inherit;
font-size:100%;
font-style:inherit;
font-variant:inherit;
font-weight:inherit;
height:auto;
letter-spacing:normal;
line-height:normal;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
max-height:none;
max-width:none;
min-height:0;
min-width:0;
outline-color:transparent;
outline-style:none;
outline-width:0;
padding:0;
text-align:inherit;
text-decoration:none;
text-indent:0;
text-transform:inherit;
vertical-align:baseline;
visibility:inherit;
white-space:inherit;
width:auto;
word-spacing:normal;
z-index:auto;
}

/* inline elements */

a , abbr , b , cite , code , del , dfn , em , i , img , ins , kbd , mark , q , s , samp , small , span , strong , sub , summary , sup , u , var
{
display:inline;
}

/* block elements */

address , article , aside , blockquote , body , dd , details , div , dl , dt , figcaption , figure , footer , h1 , h2 , h3 , h4 , h5 , h6 , header , hgroup , legend , nav , ol , p , pre , section , ul
{
display:block;
}

/* table elements */

caption
{
caption-side:top;
display:table-caption;
}

col
{
display:table-column;
}

colgroup
{
display:table-column-group;
}

table
{
display:table;
}

tbody
{
display:table-row-group;
}

td , th
{
display:table-cell;
}

tfoot
{
display:table-footer-group;
}

thead
{
display:table-header-group;
}

tr
{
display:table-row;
}

/* styles for specific elements */

li
{
display:list-item;
}

q
{
quotes:"“" "”" "‘" "’";
}

q:before
{
content:open-quote;
}

q:after
{
content:close-quote;
}

sub , sup
{
font-size:smaller;
}

sub
{
vertical-align:sub;
}

sup
{
vertical-align:super;
}